<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>800C3526-E83A-44AC-B718-D36934708921</string>
		<key>name</key>
		<string>Red Bow Tie</string>
		<key>searchKey</key>
		<string>R</string>
		<key>rating</key>
		<real>3.5</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>239</integer>
			<key>green</key>
			<integer>48</integer>
			<key>blue</key>
			<integer>36</integer>
		</dict>
		<key>imageName</key>
		<string>red.png</string>
		<key>lastWorn</key>
		<date>2014-06-19T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>4</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5EDAA810-3A9F-4A53-A837-87B7F7A5BBFC</string>
		<key>name</key>
		<string>Orange Bow Tie</string>
		<key>searchKey</key>
		<string>O</string>
		<key>rating</key>
		<real>1.2</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>160</integer>
			<key>blue</key>
			<integer>122</integer>
		</dict>
		<key>imageName</key>
		<string>orange.png</string>
		<key>lastWorn</key>
		<date>2014-06-16T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>2</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C11591E2-44E5-41A8-8B92-0BE37CD08D00</string>
		<key>name</key>
		<string>Yellow Bow Tie</string>
		<key>searchKey</key>
		<string>Y</string>
		<key>rating</key>
		<real>4.7</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>254</integer>
			<key>green</key>
			<integer>216</integer>
			<key>blue</key>
			<integer>93</integer>
		</dict>
		<key>imageName</key>
		<string>yellow.png</string>
		<key>lastWorn</key>
		<date>2014-05-16T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>10</integer>
		<key>isFavorite</key>
		<true/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>CD3CADD3-29BA-463F-A5E0-D220E6DE46BF</string>
		<key>name</key>
		<string>Green Bow Tie</string>
		<key>searchKey</key>
		<string>G</string>
		<key>rating</key>
		<real>3.2</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>144</integer>
			<key>green</key>
			<integer>238</integer>
			<key>blue</key>
			<integer>144</integer>
		</dict>
		<key>imageName</key>
		<string>green.png</string>
		<key>lastWorn</key>
		<date>2014-06-19T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>4</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>05CA94DE-0AD8-45D1-A58F-1E0F8011A6B9</string>
		<key>name</key>
		<string>Blue Bow Tie</string>
		<key>searchKey</key>
		<string>B</string>
		<key>rating</key>
		<real>1.2</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>71</integer>
			<key>blue</key>
			<integer>171</integer>
		</dict>
		<key>imageName</key>
		<string>blue.png</string>
		<key>lastWorn</key>
		<date>2014-04-19T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>2</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>AB69661B-447B-4055-8BE4-409BB4F4ED77</string>
		<key>name</key>
		<string>Indigo Bow Tie</string>
		<key>searchKey</key>
		<string>I</string>
		<key>rating</key>
		<real>2.2</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>111</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>imageName</key>
		<string>indigo.png</string>
		<key>lastWorn</key>
		<date>2014-05-19T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>2</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
	<dict>
		<key>id</key>
		<string>25A2EB8E-59D2-4905-812A-ACD57D644BA0</string>
		<key>name</key>
		<string>Violet Bow Tie</string>
		<key>searchKey</key>
		<string>V</string>
		<key>rating</key>
		<real>4</real>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>143</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>imageName</key>
		<string>violet.png</string>
		<key>lastWorn</key>
		<date>2014-05-29T18:15:24Z</date>
		<key>timesWorn</key>
		<integer>7</integer>
		<key>isFavorite</key>
		<false/>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bow_tie</string>
	</dict>
</array>
</plist>
